{% extends "layout.html" %}

{% block title %}
    Sell Shares
{% endblock %}

{% block main %}
    <h2>Sell Shares</h2>
    <form action="/sell" method="post">

        <div class="mb-3">
            <label for="symbol" class="form-label">Symbol</label>
            <select class="form-select mx-auto w-auto" name="symbol" id="symbol">
                <option disabled selected>Choose a symbol</option>
                {% for stock in stocks %}
                    <option value="{{ stock.symbol }}">{{ stock.symbol }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="mb-3">
            <label for="shares" class="form-label">Shares</label>
            <input autocomplete="off" class="form-control mx-auto w-auto" name="shares" id="shares" placeholder="Shares" type="number" min="1">
        </div>

        <div class="mb-3">
            <button class="btn btn-danger" type="submit">Sell</button>
        </div>
    </form>
{% endblock %}
